<section class="glue-mod-spacer-4-top glue-mod-spacer-4-bottom glue-mod-text-center">
  <div class="glue-grid">
    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-4 glue-grid__col--span-4-lg">
      <h1 class="glue-headline glue-headline--headline-1 glue-has-top-bottom-margin color-u-yellow">
        5B+
      </h1>
      <p class="glue-copy">transactions per year</p>
    </div>

    <div class="glue-grid__col glue-grid__col--span-4 glue-grid__col--span-4-lg">
      <h1 class="glue-headline glue-headline--headline-1 glue-has-top-bottom-margin color-u-blue">
        234
      </h1>
      <p class="glue-copy">countries and territories</p>
    </div>

    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-4 glue-grid__col--span-4-lg">
      <h1 class="glue-headline glue-headline--headline-1 glue-has-top-bottom-margin color-u-red">
        1B+
      </h1>
      <p class="glue-copy">tap and pay transactions per year</p>
    </div>

    <div class="glue-grid__col glue-grid__col--span-4 glue-grid__col--span-4-lg">
      <h1 class="glue-headline glue-headline--headline-1 glue-has-top-bottom-margin color-u-yellow">
        130
      </h1>
      <p class="glue-copy">1st party merchants</p>
    </div>

    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-4 glue-grid__col--span-4-lg">
      <h1 class="glue-headline glue-headline--headline-1 glue-has-top-bottom-margin color-u-green">
        200+
      </h1>
      <p class="glue-copy">forms of payments supported</p>
    </div>

  </div>
</section>