<section class="graphic glue-mod-spacer-4-top">
  <div class="graphic__container">

    {# TODO: This would prolly be better as an SVG #}
    <div class="graphic__center" style="background-image: url({{'logo-gpay-center.png'|static}});"></div>

    {% include "components/graphic-ring-1.jinja" %}
    {% include "components/graphic-ring-2.jinja" %}
    {% include "components/graphic-ring-3.jinja" %}
    {% include "components/graphic-ring-4.jinja" %}
    {% include "components/graphic-ring-5.jinja" %}
    {% include "components/graphic-ring-6.jinja" %}

    {% include "components/popups.jinja" %}

  </div>
</section>