<div class="graphic__ring-container graphic__ring-container--3">
  <ul class="graphic__ring graphic__ring--3">
    <li class="graphic__dot bg-u-blue"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot graphic__dot graphic__dot-interact graphic__dot-interact--{{data.dots.dot5.color}}" data-dot-index="{{data.dots.dot5.id}}"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot bg-u-yellow"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot bg-u-red"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
  </ul>
</div>