<div class="graphic__ring-container graphic__ring-container--6">
  <ul class="graphic__ring graphic__ring--6">
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
  </ul>
</div>