<div class="graphic__ring-container graphic__ring-container--5">
  <ul class="graphic__ring graphic__ring--5">
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot bg-u-green"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot graphic__dot graphic__dot-interact graphic__dot-interact--{{data.dots.dot8.color}}" data-dot-index="{{data.dots.dot8.id}}"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot bg-u-blue"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot bg-u-red"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot"></li>
    <li class="graphic__dot graphic__dot graphic__dot-interact graphic__dot-interact--{{data.dots.dot10.color}}" data-dot-index="{{data.dots.dot10.id}}"></li>
  </ul>
</div>
