<header class="glue-header glue-header--single">
    <div class="glue-header__bar glue-header__bar--desktop glue-header__drawer">
        <div class="glue-header__tier">
            <!-- LOCK up-->
            <div class="glue-header__container">
                <div class="glue-header__lock-up">
                    <div class="glue-header__logo">
                        <img class="header-gpay-logo" src="{{'logo-gpay-center.png'|static}}" alt="Gpay">
                    </div>
                    <a href="#page-content" class="glue-header__skip-content">
                        <p class="glue-header__skip-content-text">Jump to Content</p>
                    </a>
                </div>
            </div>

            <!-- LINK BAR-->
            <div class="glue-header__container glue-header__container--flex-auto">
                <nav class="glue-header__link-bar">
                </nav>
            </div>
            <!-- CTA-->
            <div class="glue-header__container glue-header__container--cta">
            </div>
        </div>
    </div>
    <!-- Mobile header placeholder -->
    <div class="glue-header__bar glue-header__bar--mobile">
        <div class="glue-header__tier">
            <!-- LOCK up-->
            <div class="glue-header__container">
                <div class="glue-header__lock-up">
                    <div class="glue-header__hamburger glue-header__hamburger--first-tier" style="display: none;">
                        <div class="glue-header__hamburger-wrapper">
                            <button type="button" class="glue-header__drawer-toggle-btn"
                                aria-controls="drawer" aria-expanded="false" aria-label="Open the navigation drawer">
                                <svg role="img" class="glue-icon glue-icon--24px"><use xlink:href="/static/img/glue-icons.svg#menu"></use></svg>
                            </button>
                        </div>
                    </div>
                    <div class="glue-header__logo">
                        <img class="header-gpay-logo" src="{{'logo-gpay-center.png'|static}}" alt="Gpay">
                    </div>
                    <!-- SKIP -->
                    <a href="#page-content" class="glue-header__skip-content">
                        <p class="glue-header__skip-content-text">Jump to Content</p>
                    </a>
                </div>
            </div>
            <!-- CTA -->
        </div>
    </div>
    <div class="glue-header__drawer-backdrop"></div>
</header>
