<section class="glue-mod-spacer-4-top glue-mod-text-center">
  <div class="glue-grid">
    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-8 ">
      <h1 class="glue-headline glue-headline--headline-2 glue-has-top-bottom-margin">
        {{data.headline}}
      </h1>
    </div>

    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-2 glue-grid__col--span-2-lg"></div>

    <div class="glue-grid__col glue-grid__col--span-8 ">
      <p class="glue-copy glue-copy">
        {{data.headline_subcopy}}
      </p>
    </div>
  </div>
</section>