<section class="glue-mod-spacer-4-top glue-mod-text-center">
  <div class="glue-grid">
    <div class="glue-grid__col glue-grid__col--span-0 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-12 glue-grid__col--span-8-lg">
      <h1 class="glue-headline glue-headline--headline-2 glue-has-top-bottom-margin">
        Congratulations to the entire Google Pay team.
      </h1>
    </div>

    <div class="glue-grid__col glue-grid__col--span-0 glue-grid__col--span-2-lg"></div>
    <div class="glue-grid__col glue-grid__col--span-0 glue-grid__col--span-2-lg"></div>

    <div class="glue-grid__col glue-grid__col--span-12 glue-grid__col--span-8-lg">
      <p class="glue-copy glue-copy">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </p>
    </div>
  </div>
</section>