
$bp-small: 30rem;
$bp-medium: 37.5rem;
$bp-medium-large: 50rem;
$bp-large: 60rem;
$bp-x-large: 75rem;
$bp-xx-large: 87.5rem;

// TODO(glue-dev): Replace with common mixins.
@mixin mq-min($bp-size) {
  @media all and (min-width: $bp-size) {
    @content;
  }
}

body::after {
  content: 'x-small';
  display: none;
}

@include mq-min($bp-small) {

  body::after {
    content: 'small';
  }

}

@include mq-min($bp-medium) {

  body::after {
    content: 'medium';
  }

}

@include mq-min($bp-medium-large) {

  body::after {
    content: 'medium-large';
  }

}

@include mq-min($bp-large) {

  body::after {
    content: 'large';
  }

}

@include mq-min($bp-x-large) {

  body::after {
    content: 'x-large';
  }

}

@include mq-min($bp-xx-large) {

  body::after {
    content: 'xx-large';
  }

}
