<div class="demo-carousel demo-carousel-cyclical">
  <div class="glue-carousel" data-glue-pagination="demo-cyclical">
  <div class="glue-carousel__wrap">
    <ul  class="glue-carousel__list">
      {% for slide in content.carousel %}
      <li class="glue-carousel__item b-demo-carousel__item b-demo-carousel__item--{{slide.id}}">
        <div class="glue-headline glue-headline--two b-demo-carousel__headline">{{slide.label}}</div>
      </li>
      {% endfor %}
    </ul>

    <div class="glue-carousel__paginate glue-pagination-previous">
      <button type="button" class="glue-pagination__button"
              data-glue-pagination-previous
              data-glue-pagination="demo-cyclical"
              data-glue-pagination-update-model="false"
              title="Previous">
        <div class="glue-carousel__paginate-wrap">
          <div class="glue-carousel__arrow glue-carousel__arrow--left"></div>
        </div>
      </button>
    </div>

    <div class="glue-carousel__paginate glue-pagination-next">
      <button type="button" class="glue-pagination__button"
              data-glue-pagination-next
              data-glue-pagination="demo-cyclical"
              data-glue-pagination-update-model="false"
              title="Next">
        <div class="glue-carousel__paginate-wrap">
          <div class="glue-carousel__arrow glue-carousel__arrow--right"></div>
        </div>
      </button>
    </div>

    <div class="glue-carousel__navigation">
      <ul class="glue-pagination-page-list" data-glue-pagination-page-list data-glue-pagination="demo-cyclical" role="tablist">
        <li class="glue-pagination__button-container glue-pagination__page-list-button-container">
          <button type="button" class="glue-pagination__button glue-pagination__page-list-button" role="tab" data-glue-pagination-page="1">1</button>
        </li>
        <li class="glue-pagination__button-container glue-pagination__page-list-button-container">
          <button type="button" class="glue-pagination__button glue-pagination__page-list-button" role="tab" data-glue-pagination-page="2">2</button>
        </li>
        <li class="glue-pagination__button-container glue-pagination__page-list-button-container">
          <button type="button" class="glue-pagination__button glue-pagination__page-list-button" role="tab" data-glue-pagination-page="3">3</button>
        </li>
        <li class="glue-pagination__button-container glue-pagination__page-list-button-container">
          <button type="button" class="glue-pagination__button glue-pagination__page-list-button" role="tab" data-glue-pagination-page="4">4</button>
        </li>
      </ul>
    </div>

</div>

  </div>
</div>
