<!DOCTYPE html>
<html lang="{{g.page.locale.babel.language}}"{% if g.page and g.page.locale and g.page.locale.lang_is_rtl %} dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>{{content.title}}</title>
    <meta name="referrer" content="no-referrer" />
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://storage.googleapis.com/operating-anagram-8280/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/operating-anagram-8280/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/operating-anagram-8280/favicon-16x16.png">
    <link rel="shortcut icon" href="https://storage.googleapis.com/operating-anagram-8280/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500|Product+Sans:400&amp;lang=en">
    <link href="{{"css/index.min.css"|static}}" rel="stylesheet">
    <script src="{{"js/detect.min.js"|static}}"></script>
  </head>

  <body>
    <main class="glue-page">

      {% include "components/header.jinja" %}
      {% include "components/headline.jinja" %}

      {% include "components/graphic.jinja" %}

      {% include "components/endcap.jinja" %}

    </main>

    {# {% include "footer/footer.jinja" %} #}

    <script src="https://www.gstatic.com/external_hosted/hammerjs/v2_0_2/hammer.min.js"></script>
    <script src="{{"js/index.min.js"|static}}"></script>
  </body>
</html>
