.graphic__info {
  background: $glue-blue-600;
  border-radius: 4px;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 8px 24px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity .6 ease-out;
  width: 300px;
  z-index: 100;
}
