.graphic__info {
  position: absolute;
  pointer-events: none;
  top: 0;
  transition: opacity .6 ease-out;
  left: 0;
  width: 300px;
  border-radius: 4px;
  background: #fff;
  padding: 4px 12px;
  z-index: 100;

  opacity: 0;
}
