{# NOTE the strings in this template will likely come from Kintaro via Bracket. #}

<footer class="glue-footer glue-mod-spacer-5-top">

  <section class="glue-footer__upper">
    <section class="glue-social">
      <div class="glue-social__group">
        <p class="glue-social__title glue-social__title--inline">Follow us</p>
        <ul class="glue-social__list glue-no-bullet">
          <li class="glue-social__item">
            <a class="glue-social__link " href="https://www.youtube.com/google" title="Follow us on YouTube">
              <svg role="img" aria-hidden="true" class="glue-icon glue-icon--24px glue-icon--social">
                <use xlink:href="/static/img/glue-icons.svg#video-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="glue-social__item">
            <a class="glue-social__link" href="https://www.twitter.com/google/" title="Follow us on Twitter">
              <svg role="img" aria-hidden="true" class="glue-icon glue-icon--24px glue-icon--social">
                <use xlink:href="/static/img/glue-icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="glue-social__item">
            <a class="glue-social__link" href="https://www.facebook.com/Google/" title="Follow us on Facebook">
              <svg role="img" aria-hidden="true" class="glue-icon glue-icon--24px glue-icon--social">
                <use xlink:href="/static/img/glue-icons.svg#post-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </section>


  <nav class="glue-footer__site-links">
    <div class="glue-footer__site-links-grid glue-footer__site-links-grid--5-col">
      <div class="glue-footer__site-links-column" id="column-1">
        <div class="glue-footer__site-links-header ">
          <h4 class="glue-footer__site-links-header-text">About this product</h4>
          <svg role="img" aria-hidden="true" class="glue-icon glue-icon--footer glue-expansion-panel__button-arrow">
            <use xlink:href="/static/img/glue-icons.svg#expand-more"></use>
          </svg>
        </div>
        <ul class="glue-footer__site-links-list glue-no-bullet" id="column-1-content">
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 1</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 2</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link " href="#">Link 3</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 4</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 5</a>
          </li>
        </ul>
      </div>
      <div class="glue-footer__site-links-column" id="column-2">
        <div class="glue-footer__site-links-header">
          <h4 class="glue-footer__site-links-header-text">Learning & support</h4>
          <svg role="img" aria-hidden="true" class="glue-icon glue-icon--footer glue-expansion-panel__button-arrow">
            <use xlink:href="/static/img/glue-icons.svg#expand-more"></use>
          </svg>
        </div>
        <ul class="glue-footer__site-links-list glue-no-bullet" id="column-2-content">
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 1</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 2</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link " href="#">Link 3</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 4</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 5</a>
          </li>
        </ul>
      </div>
      <div class="glue-footer__site-links-column" id="column-3">
        <div class="glue-footer__site-links-header">
          <h4 class="glue-footer__site-links-header-text">For developers</h4>
          <svg role="img" aria-hidden="true" class="glue-icon glue-icon--footer glue-expansion-panel__button-arrow">
            <use xlink:href="/static/img/glue-icons.svg#expand-more"></use>
          </svg>
        </div>
        <ul class="glue-footer__site-links-list glue-no-bullet" id="column-3-content">
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 1</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 2</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link " href="#">Link 3</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 4</a>
          </li>
          <li class="glue-footer__site-links-list-item">
            <a class="glue-footer__link" href="#">Link 5</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <section class="glue-footer__global">
    <div class="glue-footer__logo">
      <a href="https://www.google.com" title="Google" class="">
        <svg role="img" aria-hidden="true" class="glue-footer__logo-img">
          <use xlink:href="/static/img/glue-icons.svg#google-solid-logo"></use>
        </svg>
      </a>
    </div>

    <ul class="glue-footer__global-links glue-no-bullet">
      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://about.google/">About Google</a>
      </li>

      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://about.google/products/">Google products</a>
      </li>

      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link" href="https://policies.google.com/privacy">Privacy</a>
      </li>

      <li class="glue-footer__global-links-list-item">
        <a class="glue-footer__link " href="https://policies.google.com/terms">Terms</a>
      </li>
    </ul>

    <ul class="glue-footer__global-links glue-footer__global-links--extra glue-no-bullet">
      <li class="glue-footer__global-links-list-item glue-footer__global-links-list-item--extra">
        <a class="glue-footer__link " href="https://support.google.com/?hl=en">
          <svg role="img" aria-hidden="true" class="glue-icon glue-icon--24px glue-icon--footer-help">
            <use xlink:href="/static/img/glue-icons.svg#help"></use>
          </svg>
          Help
        </a>
      </li>

      <li class="glue-footer__global-links-list-item glue-footer__global-links-list-item--extra">
        <label for="lang-selector" class="glue-mod-visually-hidden">Change language or region </label>
        <select name="lang-selector" id="lang-selector" class="glue-form__dropdown glue-footer__lang-dropdown ">
          <option value="https://www.google.com/intl/en/mysite" selected="selected">English</option>
          <option value="https://www.google.com/intl/pt-BR/mysite">Português – Brasil</option>
          <option value="https://www.google.com/intl/ja/mysite">日本語</option>
        </select>
      </li>
    </ul>

  </section>
</footer>
